body {
  background-color: black;
}

.top-block {
  text-align: center;
}

.top {
  display: inline;
}

.navigation {
  width: 100 px;
}

.navigation:hover {
  filter: invert(1);
}

.central-slide {
  height: calc(100vh - 150px);
  text-align: center;
}
.central-slide img {
  height: calc(100vh - 180px);
}

.preview-slides {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.preview {
  height: 113px;
  outline: 1px solid #cccccc;
}

.preview.active {
  outline: 1px solid black;
}

.preview:hover {
  cursor: pointer;
  outline: 1px solid black;
}
